<div *ngIf="!isAuthPage" class="app-shell" >

  <header class="app-header">

    <div class="logo">
      <i class="fa-solid fa-bug"></i>G-RELLO
    </div>

    <div class="header-actions">

      <button class="header-btn">
        <i class="fa-solid fa-bell"></i>
      </button>

      <div class="header-user">

        <div class="user-trigger" (click)="toggleUserMenu()">
          <div class="user-avatar" *ngIf="authService.currentUser">
            {{ authService.currentUser.firstName[0] }}{{ authService.currentUser.lastName[0] }}
          </div>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div
          class="user-dropdown"
          *ngIf="showUserMenu"
          (click)="closeUserMenu()"
        >
        </div>
        <div class="user-dropdown" *ngIf="showUserMenu">
          <div class="dropdown-header">
            <strong>
              {{ authService.currentUser?.displayName }}
            </strong>
            <span>
        {{ authService.currentUser?.email }}
      </span>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item">
            <i class="fa-solid fa-user"></i>
            Profile
          </button>
          <button class="dropdown-item">
            <i class="fa-solid fa-gear"></i>
            Settings
          </button>
          <button class="dropdown-item logout" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
          </button>
        </div>
    </div>
    </div>
  </header>

  <div class="app-body">

    <aside class="sidebar">

      <div class="sidebar-section">

        <p class="sidebar-title">
          Navigation
        </p>

        <a routerLink="/dashboard" class="sidebar-link">
          <i class="fa-solid fa-house"></i>
          Dashboard
        </a>

        <a routerLink="/kanban" class="sidebar-link">
          <i class="fa-solid fa-table-columns"></i>
          Boards
        </a>

      </div>

    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>

<router-outlet *ngIf="isAuthPage"></router-outlet>

<app-toast></app-toast>

<app-confirmation-dialog></app-confirmation-dialog>
